
.container{
    width: 30%;
    margin: 3% auto;
    border: 2px solid whitesmoke;
}

ul{
    list-style: none;
}
li{
    margin: 5px;
    border: 1px solid gray;
    padding: 8px;
    font-size: 1.3rem;
    background-color: #f9c74f;
}
span:hover{
    cursor: pointer;
}